@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
}

body {
  font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto-Bold';
}

.h1, h1 {
  font-size: 1.5rem !important;
}

p {
  font-family: 'Roboto-Regular';
  font-size: 14px;
}

a{
cursor: pointer;
}

.ad-section{
 
width: 100%;
height: 20vh;
margin-top: 40px;
/* background-color: #f1f1f1;  */
}



.ad-section.vertical{
height: 75vh;
margin-top: 0px;
}

.ad-section p{
display: table-cell;
vertical-align: middle;
text-align: center;
font-size: 17px;
}

.imp-links {
background: #F8F8F8 0% 0% no-repeat padding-box;
border-radius: 4px;
}

.imp-links a {
color: #177CD3;
font-size: 16px;
font-weight: bold;
}

.imp-links a:hover {
text-decoration: none;
}

.imp-links a span {
margin: 0px 12px;
color: #707070;
}

.card-section{
column-count: 1;
}

.card-section .section-border h5{
padding: 12px 16px;
}

.card-section .section-border h1{
padding: 12px 16px;
}

.card-section .section-border h5::after{
content:' ';
display:block;
border: 2px solid #AC193D;
width: 24px;
color: #AC193D;
background-color: #AC193D;
}

.card-section .section-border h1::after{
content:' ';
display:block;
border: 2px solid #AC193D;
width: 24px;
color: #AC193D;
background-color: #AC193D;
}

.card-section .section-border ul{
padding: 0;
}
.card-section .section-border ul li{
display: block;
font-size: 14px;
padding: 16px 16.5px;
transition: all 0.2s ease 0s;
border-bottom: 1px solid #E4E4E4 !important;
margin: 0px;
}

.card-section .section-border ul li a{
cursor: pointer;
color: #242424;
font-weight: normal;
font-size: 16px;
}


.card-section .section-border ul li a:hover,
.card-section .section-border ul li a:hover i{
color: #177CD3;
transition: all 0.2s ease-in 0s;
text-decoration: none;
}

.card-section .section-border ul li span .fa-angle-right{
color:#9B9B9B;
}

.card-section .section-border .viewmore{
font-size: 12px;
margin-right: 16px;
margin-bottom: 13px;
margin-top: 13px;
font-weight: 600;
color: #177CD3;
}


.our-services img {
min-width: 100%;
}

.our-services h5 {
font-size: 20px;
letter-spacing: 0px;
color: #ac193d;
margin-bottom: 0.75rem;
}

.our-services h1 {
font-size: 20px;
letter-spacing: 0px;
color: #AC193D;
margin-bottom: 0.75rem;
}

.our-services p {
font-size: 15px;
letter-spacing: 0px;
color: #585858;
}

.border-left-red{
border-left: 4px solid #ac193d;
padding-left: 15px;
}

.imp-links,
.m-top{
margin-top: 40px;
}

.banner-btn{
position: relative;
float: left;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.name-post{
background-color: #F8F7F8;
padding: 20px;
}

.name-post h5{
color: #AC193D;
font-size: 16px;
}

.name-post p{
font-size: 16px;
color: #000000;
font-weight: bold;
}

.blog-data{
  border: 1px solid #E4E4E4;
  padding: 20px;
}

.blog-data h5{
  color: #AC193D;
  font-size: 16px;
}

.blog-data p{
  font-size: 16px;
  color: #000000;
}

#blog-para p{
display: inline;
}

.banner-button{
display: table;
padding: 14px 55px;
background: #ac193d 0% 0% no-repeat padding-box;
font-size: 24px;
color: #ffffff;
text-align:center;
margin:0 auto;
}

.button-overlay{
text-align: center;
margin: 2rem auto;
}

.banner-button a{
cursor:none;
}

.prelinepara{
white-space: pre-line !important;
}

.main-nav{
border: 1px solid #E4E4E4;
border-top: 20px solid #ac193d !important;
padding: 0 1rem;;
}

.main-nav .navcollapse .main-navbar a{
color: #666666;
height: 70px;
padding: 23px 16px;
}

#lang {
background-color: "#f0f8ff" !important;
}

.main-nav .navcollapse .main-navbar a:hover{
background-color: #AC193D;
color: #ffffff;
}

.main-nav .navbar-toggler:focus{
border:none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
outline: 1px solid  rgba(0,0,0,.1);
box-shadow: none;
}

footer .website-footer {
background: #ac193d;
color: #fff;
padding: 2.25rem;
border-bottom: 20px solid black !important
}

footer .website-footer h3{
margin-bottom: 1rem;
}

footer .website-footer a{
display: block;
line-height: 1.8;
letter-spacing: 0px;
font-size: 14px;
color: #fff;
}

footer .website-footer a:hover{
text-decoration: none;
}

.h1seo {
font-size: 16px !important;
}

/* responsive query starts */
@media (max-width: 1280px) and (min-width: 992px){
.main-nav .navcollapse .main-navbar a{
  height: unset;
  padding: 12px 8px;
  font-size: 13px;
}
}

@media (max-width: 992px) and (min-width: 768px){  
footer .website-footer {
  padding: 2.25rem 1.25rem;
}

footer .website-footer a{
  font-size: 13px;
}

footer .website-footer h3{
  font-size: 1.25rem;
}
}

@media (max-width: 1199px){
.banner-button{
  font-size: 21px;
}
}

@media (max-width: 991px){
.card-section{
  margin: 40px 0;
}

.main-nav .navcollapse .main-navbar a{
  height: unset;
  padding: 12px 10px;
}

.banner-button{
  padding: 10px 40px;
}

.ad-section.vertical{
    height: 15vh;
    margin-top: 0px;
}
}

@media (max-width: 767px){
.banner-button{
  padding: 8px 20px;
  font-size: 19px;
}
}

@media (max-width: 576px){
.our-services img {
  max-width: 100%;
  margin-bottom: 1rem;
}

.imp-links,
.m-top{
  margin-top: 30px;
}

footer .website-footer {
  padding: 2.25rem 0.25rem;
}

footer .website-footer a{
  font-size: 13px;
}

footer .website-footer h3{
  font-size: 1.25rem;
}
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
.navbar .nav-item .dropdown-menu{ display: none;}
.navbar .nav-item:hover .nav-link{ color: rgb(167, 45, 45);  }
.navbar .nav-item:hover .dropdown-menu{ display: block;}
.navbar .nav-item .dropdown-menu{ margin-top:0; max-height: 450px; overflow:auto;}
}	  
/* ============ desktop view .end// ============ */

/* .spinner{
display: none;
} */
textarea{
word-break: break-all;
font-weight: 900;
}
.wordbreak{
	word-break: break-all !important;
}
.resultdiv {
margin: 0 auto;
width: 70%;
color: green;
word-break: break-all;
border: 3px solid black;
overflow: auto;
max-height: 500px;
}
.list-group{
	width: 100%;
}
.areaclass{
	background-color: lightgray !important;
	color: black !important;
}
#toTopBtn {
  position: fixed;
  bottom: 26px;
  right: 39px;
  z-index: 98;
  padding: 21px;
  background-color: rgba(247, 30, 10, 0.8)
}

.js .cd-top--fade-out {
  opacity: .5
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
  background-color: hsla(5, 76%, 62%, .8);
  background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}

.background-gray{
  background-color: lightgray !important;
  width: 100%;
}
#dataresponse1, #dataresponse{
  color:red;
  font-size: 16px;
  text-align: center;
}
.text-color{
  color: #ac193d !important;
}
.list-group-item.active {
  background-color: #ac193d !important;
  border-color: #ac193d !important;
}
#json{
  color: #003366;
}
.resdiv{
    overflow-x: auto !important;	
}
.pfixed{
	/* border: 2px solid black; */
    width: 90%;
    text-align: center;
    height: 80%;
}



.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
  display: inline-block;
}

.sidebar a {
  display: block;
  color: black;
  padding: 7px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #ac193d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  
  padding: 1px 16px;
  position: absolute;
  display: inline-table;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;
  position: relative;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.span12{
	display: block;
	width:180px;
}
#json, #lineCounter,#lineCounter1 ,#jsonout{
	font-family: lucida console, courier new, courier, monospace;
	margin: 0;
	padding: 10px 0;
	height: 75vh;
	border-radius: 0;
	resize: none;
	font-size: 16px;
	line-height: 1.2;
	outline: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none !important;
}
#json,#jsonout {
	padding-left: calc(3.5rem + 5px);
	width:100%;
	/* Determine appearance of code editor */
	background-color:#272822;
	border-color:#272822;
	color:#ffffff;
}
#lineCounter,#lineCounter1 {
	display: flex;
	border-color: transparent;
	overflow-y: hidden;
	text-align: right;
	box-shadow: none;
	color: #707070;
	background-color: #d8d8d8;
	position: absolute;
	width: 3.5rem;
	/* Determine appearance of line counter */
	background-color:#3E3D32;
	border-color:#3E3D32;
	color:#928869;
}
#lineCounter,#lineCounter1:focus-visible,
#json:focus-visible {
	outline:none;
}
#myInput {
  background-image: url('/images/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
#jsonout1{
	border: 2px solid black;
	font-family: lucida console, courier new, courier, monospace;
	margin: 0;
	height: 75vh;
	border-radius: 0;
	resize: none;
	font-size: 16px;
	line-height: 1.2;
	outline: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: scroll;
	padding: 5px;
}
input[type=checkbox] {
    transform: scale(1.5);
}
#passout1{
	font-weight: 900;
    font-size: 20px;
    color: black;
}
.divouthtmlview{
	border: 2px solid black;
	font-family: lucida console, courier new, courier, monospace;
	margin: 0;
	height: 75vh;
	border-radius: 0;
	resize: none;
	font-size: 16px;
	line-height: 1.2;
	outline: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: scroll;
	padding: 5px;
	width:100%;
	/* Determine appearance of code editor */
	background-color:#272822;
	border-color:#272822;
	color:#ffffff;
}
#update{
  border: 0.2px solid transparent;
  max-height: 200px;
  overflow-y: scroll;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.hero {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.has-text-centered {
    text-align: center !important;
}

.button.is-large {
    font-size: 1.5rem;
}

.funbtn {
    margin: 10px;
    width: 250px;
    height: 60px;
}

.button {
    background-color: white;
    border-color: #dbdbdb !important;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center !important;
    white-space: nowrap;
}

.button{
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
}

.header-ad {
	width:100%;
	margin:auto;
	margin-bottom:30px;
	text-align:center;
}


#response,#cresult{
    max-width: 100%;
    max-height: 100px;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Roboto-Bold';
    text-align: center;
}

 .required-field {
      color: red;
    }
.ipv4div{
	margin: 31px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
    width: 100%;
	max-width: 100%;
}
#ip-address{
	font-size: 18px;
    color: #555;
}
#copy-button-ip {
            display: none;
            margin-top: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }

.divoutcsv{
max-width: 100%;
overflow: auto;
max-height:550px;
}